<!doctype html>
  <html class="no-js" lang="">

  <head>
    <title>Bustin Solutions. Proud to be bustin since 2015</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <style>
      html {
        background-color: #000000;
      }

      .announce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }

      .announce {
        color: #ffffff;
        font-family: 'Press Start 2P', cursive;
        margin-top: -100px;
        margin-bottom: 50px;
        padding-top: 25px;
      }

      .announce h1 {
        font-size: 350%;
      }

      .announce h2 {
        font-size: 125%;
      }

      a:link, a:visited {
        padding-top: 50px;
        text-decoration: none;
        color: #ffffff;
      }
    </style>
  </head>

  <body>
    {{#if bustin}}
    <div class="announce">
      <h1>Happy Bustin Thursday</h1>
      {{#if forced}}
        <h2>but not really. this is only a demo.</h2>
      {{/if}}

      <iframe width="640" height="360" src="https://www.youtube.com/embed/0tdyU_gW6WE?autoplay=1&cc_load_policy=1" frameborder="0"></iframe>
      <a class="credit" href="https://www.youtube.com/user/NeilCicierega">Credit to NeilCicierega</a>
    </div>
    {{else}}
    <div class="announce">
      <h1>Bustin has concluded.<br>Come back next Thursday.</h1>
    </div>
    {{/if}}
  </body>
</html>